HOST=0.0.0.0
PORT=1337
STRAPI_SK= 

DATABASE_URL=postgres://wnmzojipoeaqxc:6a1fbca214b8b1e746509d8f9925d2043507e0edf6316fe9ce46968c7ac9859f@ec2-34-246-227-219.eu-west-1.compute.amazonaws.com:5432/daevtofop19jr3

AWS_ACCESS_KEY_ID
AWS_ACCESS_SECRET
AWS_REGION=us-west-1
AWS_BUCKET=